a{
    text-decoration: none;
    color: black;
}
a:visited, a:hover, a:focus, a:active { text-decoration: none; }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
a {
    padding: 3rem;
    font-size: 2rem;
    border-radius: 1rem;
}